body{
    background-color:  #f8f8f8;
}
header{
    width: 990px;
    height: 88px;
    margin: 0 auto;
}
section{
    width: 990px;
    margin: 0 auto;
    border: 1px solid#ddd;
    border-top: 3px solid#f90;
    background:#fff;
    padding: 55px 0;
    line-height: 1.5;
}
footer{
    height: 200px;
    margin-top: 0;
}
header a:nth-of-type(1){
    float: right;
    margin-top: 63px;
}
header a:nth-of-type(2) {
    float: left;
    width: 190px;
    height: 100%;
    margin-right: 24px;
}
header a:nth-of-type(2) img{
    width: 190px;
    height: 100%;
}
.login-msg{
    width: 380px;
    margin: 0 auto;
}
.login-msg{
    position: relative;  
}
.login-msg input{
    width: 291px;
    height: 38px;
    font-size: 14px;
    color:#333;
    margin-bottom: 20px;

}
.msg{
    position: fixed;
    width: 610px;
    height: 450px;
    top:35%;
    left: 50%;
    margin-top: -215px;
    margin-left: -305px;
    border: 2px solid #e5e5e5;
    display: none;
}
.msg-con{
    position: absolute;
    width: 556px;
    height: 440px;
    top: 5px;
    left: 5px;
    background:#fff;
    padding: 0 22px;
}
.msg-con p{
    font-size: 12px;
    margin-top:22px;
}
.msg-con p a{
    color: #f60;
}
.msg-con .btn{
    display: block;
    width: 140px;
    height: 30px;
    line-height: 30px;
    border-radius: 2px;
    text-align: center;
    background:#f60;
    font-size: 14px;
    color:#fff;
    margin: 6px auto 0;
    text-decoration: none;
}
.login-msg a:nth-of-type(1){
    display: inline-block;
    position: absolute;
    top:100px;
    width: 148px;
    height: 40px;
    line-height: 38px;
    text-align: center;
    background:#f5f5f5;
    font-size: 14px;
    margin: -1px -1px 0 0;
    text-decoration: none;
}
.login-msg a:nth-of-type(2){
    display: block;
    width:291px;
    line-height: 40px;
    text-align: center;
    background:#f60;
    font-size: 20px;
    color:#fff;
    margin: 24px 0 5px;
    text-decoration: none;
}

.login-msg a:nth-of-type(3){
    color: #f90;
}
footer{
    padding-left: 180px;
}
.f2-one{
    width: 1190px;
    height: 185px;
    margin: 0 auto;
}
.f2-one .p1{
    line-height: 15px;
    height: 15px;
}
.f2-one .p1 a,.f2-one .p2 a{
    color: #666;
    font-size: 12px;
}
.f2-one .p2{
    width: 1190px;
    float: left;
    color:#999;
    margin-top: 0;
    line-height: 10px;
    height: 10px;
    font-size: 12px;

}
.f2-one  .p1 span{
    color:#888;
    padding: 0 8px;
}
.f2-two{ 
    width: 1190px;
    float: left;
    height: 25px;
    margin-top: 5px;
}